body {
  background:  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 41%,
    rgba(0, 0, 0, 0.65) 100%
  ),var(--background);
  font-family: Abel, sans-serif !important;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-box {
  margin: 50px;
  height: 770px;
  min-width: 350px; 
  width: 90% !important;
  background: #2B2D42;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 30px;
}

.login-title {
  margin-top: 30px ;
  margin-bottom: 80px;
  text-align: center;
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #EDF2F4;
}

.login-form {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  margin: auto; 
  width: 70%;  
}

input[type=text] {
  background-color: #2B2D42;
  border: none;
  border-bottom: 2px solid #d80032;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  text-align: center;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  color: #EDF2F4;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #2B2D42 inset !important;
}

input:-webkit-autofill{
  -webkit-text-fill-color:  #EDF2F4 !important;
  font-weight: bold !important;
  font-size: 20px  !important;
}
input[type=password] {
  background-color: #2B2D42;
  border: none;
  border-bottom: 2px solid #d80032;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  padding-left: 0px;
  margin-bottom: 20px;
  color: #EDF2F4;
}

.form-group {
  margin-bottom: 40px;
  outline: 0px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #d80032;
  outline: 0;
  background-color: #2B2D42;
  color: #EDF2F4;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0;
}

label {
  margin-bottom: 0px;
}

.form-control-label {
  font-size: 17px;
  color: #8D99AE;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-outline-primary {
  border-color: #d80032;
  color: #d80032;
  border-radius: 0px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px rgb(43, 45, 66), 0 1px 2px rgb(43, 45, 66);
}

.btn-outline-primary:hover {
  background-color: #8D99AE;
  right: 0px;
}

.login-btm {
  padding: 0px;
  padding-right: 0px;
  margin-bottom: 25px;
  padding-right: 0px;
  text-align: right;
  margin-bottom: 25px;
}


.login-text {
  text-align: left;
  padding-left: 0px;
  color: #8D99AE;
}

