<div class="col page">
  <div class="col">
    <div class="container">
          <h2 class="container justify-content-center text-center mb-5 header p-3">ÜRÜNLERİMİZ</h2>
    </div>
  </div>
  <div class="row first mb-5">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front shadow">
          <img class="product-img" src="../../../assets/images/2011-1.jpg" />
          <p class="product-name">HDPE-BH 2011</p>
          <p class="product-name">(Super Compound)</p>
          <p class="product-info">PE 100 MUADİLİ</p>
        </div>
        <div class="flip-card-front shadow flip-card-back text-dark">
          <img class="product-img-2" src="../../../assets/images/2011-2.jpg" />
          <div class="row m-0 border mt-5">
            <div class="col-9 text-left bg-light text-left">Melt flow rate, (2.16kg).g/10 min</div>
            <div class="col-3 text-center bg-light text-center">0,4-0,7</div>
          </div>
          <div class="row m-0 border">
            <div class="col-9 text-left text-left">Density kg/m3</div>
            <div class="col-3 text-center text-center">958-962</div>
          </div>
          <div class="row m-0 border">
            <div class="col-9 text-left bg-light text-left">
              Tensile yield strenght, at 50 mm/min, Mpa
            </div>
            <div class="col-3 text-center bg-light text-center">33</div>
          </div>
          <div class="row m-0 border">
            <div class="col-9 text-left text-left">
              Tensile elongation at yield, at 1,4 mm/min, Mpa
            </div>
            <div class="col-3 text-center text-center">33</div>
          </div>
          <div class="row m-0 border">
            <div class="col-9 text-left bg-light text-left">Elongation at break %</div>
            <div class="col-3 text-center bg-light text-center">1100</div>
          </div>
          <div class="row m-0 border">
            <div class="col-9 text-left text-left">
              Flexural modulus (1% recant), at 1,4 mm/min, Mpa
            </div>
            <div class="col-3 text-center text-center">1250</div>
          </div>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front shadow">
          <img class="product-img" src="../../../assets/images/1071-1.jpg" />
          <p class="product-name">HDPE-MS 1071</p>
          <p class="product-name">(Super Compound)</p>
          <p class="product-info">Büyük şişirmeye uygundur.</p>
        </div>
        <div class="flip-card-front shadow flip-card-back text-dark">
          <img class="product-img-2" src="../../../assets/images/1071-2.jpg" />
          <div class="row m-0 border mt-5">
            <div class="col-9 text-left bg-light">Melt flow rate,(2.16kg).g/10 min</div>
            <div class="col-3 text-center bg-light">0,4-0,7</div>
          </div>
          <div class="row m-0 border">
            <div class="col-9 text-left">Density kg/m3</div>
            <div class="col-3 text-center">958-962</div>
          </div>
          <div class="row m-0 border">
            <div class="col-9 text-left bg-light">
              Tensile yield strenght, at 50 mm/min, Mpa
            </div>
            <div class="col-3 text-center bg-light">33</div>
          </div>
          <div class="row m-0 border">
            <div class="col-9 text-left">
              Tensile elongation at yield, at 1,4 mm/min, Mpa
            </div>
            <div class="col-3 text-center">28</div>
          </div>
          <div class="row m-0 border">
            <div class="col-9 text-left bg-light">Elongation at break %</div>
            <div class="col-3 text-center bg-light">900</div>
          </div>
          <div class="row m-0 border">
            <div class="col-9 text-left">
              Flexural modulus (1% recant), at 1,4 mm/min, Mpa
            </div>
            <div class="col-3 text-center">1200</div>
          </div>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front shadow">
          <img class="product-img" src="../../../assets/images/t60-1.jpg" />
          <p class="product-name">HDPE-T60</p>
          <p class="product-name">(Super Compound)</p>
        </div>
        <div class="flip-card-front shadow flip-card-back text-dark">
          <img class="product-img-2" src="../../../assets/images/t60-2.jpg" />
          <div class="row m-0 border mt-5">
            <div class="col-9 text-left bg-light">Melt flow rate, (2.16kg).g/10 min</div>
            <div class="col-3 text-center bg-light">4,0-5,6</div>
          </div>
          <div class="row m-0 pt-3 pb-3 border">
            <div class="col-9 text-left">Density kg/m3</div>
            <div class="col-3 text-center">959-963</div>
          </div>
          <div class="row m-0 border">
            <div class="col-9 text-left bg-light">Tensile yield strenght, Mpa</div>
            <div class="col-3 text-center bg-light">28</div>
          </div>
          <div class="row m-0 border">
            <div class="col-9 text-left">Notched izdo under load, J/m</div>
            <div class="col-3 text-center">55</div>
          </div>
          <div class="row m-0 border">
            <div class="col-9 text-left bg-light">Flexural modulus (1 mm/min), Mpa</div>
            <div class="col-3 text-center bg-light">1250</div>
          </div>
          <div class="row m-0 border">
            <div class="col-9 text-left">Heat resistance on Vicka</div>
            <div class="col-3 text-center">120°C</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>