<div class="col page">
  <div class="row first mb-5">
    <div class="flip-card" [routerLink]="['/login']">
      <div class="flip-card-front shadow">
        <img class="product-img justify-content-center" src="../../../assets/images/2011-1.jpg" />
        <div class="continer shadow footer">
          <div class="row">
            <img class="footer-ico justify-content-center" src="../../../assets/images/icons8_star.ico" />
            <img class="footer-ico justify-content-center" src="../../../assets/images/icons8_bookmark.ico" />
          </div>
        </div>
      </div>
    </div>

  </div>
</div>