.first {
  justify-content: center;
}
.border-img{
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.movie-bg{
  background-image: var(--background);
  background-size: cover;
  justify-content: center;
}
.mt-6{
  margin-top: 350px;
  margin-bottom: 0pc;
}
.movie-title{
  font-style: italic;
  font-size: 0.7rem;
  color:#8D99AE;
  justify-content: center;
  text-align: center;
}
.footer-ico {
  width: 20px;
  height: 20px;
  text-align: center;
  justify-content: center;
  color:#8D99AE;
  margin-right: 0px !important;
}
.footer {
  width: 100%;
  height: 60px;
  background-color: #2B2D42;
  text-align: center;
  justify-content: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.flip-card {
  background-color: transparent;
  min-width: 300px;
  max-width: 30%;
  min-height: 420px;
  border: 25px solid transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* Position the front and back side */
.flip-card-front{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgb(255, 255, 255);
  color: black;
}
