.movieImg {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    width: 5vw;
    height: 5vw;
    min-width: 100px;
    min-height: 100px;
    max-width: 120px;
    max-height: 120px;
    margin: 20px;
    border: 3px solid #EF233C;
}

.title {
    min-width: 100px;
    min-height: 100px;
    max-width: 120px;
    max-height: 120px;
    font-size: 1rem;
    margin: 0px !important;
    text-align: center;
}

.colum {
    -webkit-flex-wrap: nowrap!important;
    -ms-flex-wrap: nowrap!important;
    flex-wrap: nowrap!important;
    display: flex;
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -webkit-flex-direction: row!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
    overflow-x: scroll;
}

.modal-content {
    width: 964px !important;
    height: 514px !important;
    margin: 0;
    padding: 32px;
    padding-top: 0px;
    background-color: rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 50%;
    -ms-transform: translateY(20%);
    transform: translateY(20%);
    left: -12%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10004;
    background-color: rgba(0, 0, 0, 0.678);
    opacity: 1;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.close {
    color: white;
    align-items: flex-end;
    position: relative;
    margin: 10px;
    //top: -32px;
    width: 50px;
    height: 50px;
    left: calc(100% - 30px);
}


/* width */

::-webkit-scrollbar {
    width: 10px;
    border-radius: 7px;
    height: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #8d99ae;
    border-radius: 7px;
    height: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #2b2d42;
    border-radius: 7px;
    height: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #d80032;
    border-radius: 7px;
    height: 10px;
}