.cursor-pointer {
  cursor: pointer;
}
.bg-banner { 
  background-position: bottom center;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  width: 100%;
}
.text-success {
  color: #fff !important;
}

.footer-text {
  font-size: small;
  text-align: left !important;
}

.bg-green {
  background-color: #2B2D42 !important;
}
