<div class="bg-green mt-2">
  <div class="row m-0 text-center justify-content-center">
    <h3 class="font-weight-bolder mt-5">F-KA Plastik</h3>
  </div>
  <div class="col-lg-12 text-center justify-content-center mt-5 mb-5">
    <a class="ml-4" [routerLink]="['/']"
      ><i class="fab fa-facebook fa-3x text-light"></i
    ></a>
    <a class="ml-4" [routerLink]="['/']"
      ><i class="fab fa-twitter fa-3x text-light"></i
    ></a>
    <a class="ml-4" [routerLink]="['/']"
      ><i class="fab fa-linkedin fa-3x text-light"></i
    ></a>
  </div>
  <div class="row m-0 pt-5 text-center ml-5 justify-content-between">
    <div class="col-lg-3 col-sm-3 d-inline-block mb-5">
      <img
        src="../../../../assets/images/f-ka-white-logo.png"
        alt=""
        class="pt-3 cursor-pointer"
        width="150px"
        height="150px"
        [routerLink]="['/']"
      />
    </div>
    <div class="col-lg-3 col-sm-3">
      <p class="h5 cursor-pointer" [routerLink]="['/about-us']">Hakkımızda</p>
    </div>
    <div class="col-lg-3 col-sm-3">
      <p class="h5 cursor-pointer" [routerLink]="['/contact-us']">
        Bize Ulaşın
      </p>
    </div>
    <div class="col-lg-3 col-sm-3">
      <p class="h5 cursor-pointer" [routerLink]="['/products']">Ürünlerimiz</p>
    </div>
  </div>
  <div class="footer-bottom text-center p-2 text-light">
    Tüm hakları F-KA Plastik'e aittir.
  </div>
</div>
