.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: #8d99aec7;
  color: #fff;
  margin-top: 0px;
}

.content {
  display: flex;
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  span {
    font-size: 1.2rem;
    color: #fff;
    padding-right: 10px;
    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }
  }

}
.span {
  font-size: 1.2rem;
  color: #fff;
  padding-right: 10px;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}