<div class="text-light w-100 page">
  <div class="">
    <div class="row m-0 menu py-3">
      <div class="col col-2 text-center navbar-bar">
        <a [routerLink]="['/']" class="text-light text-underline-none wrap-text"><img class="image"
            src="../../../../assets/images/beyazKalin2.png" alt="" /></a>
      </div>
      <div class="col col-5">
        <div class="row center justify-content-center">
          <input class="input shadow" type="text" [(ngModel)]="serchText">
          <div class="img"></div>
        </div>
      </div>
      <div class="row col-5">
        <div class="col text-center navbar-bar">
          <a [routerLink]="['/']" class="text-light text-underline-none center">Anasayfa</a>
        </div>
        <div class="col text-center navbar-bar">
          <a [routerLink]="['/products']" class="text-light text-underline-none center">Ürünler</a>
        </div>
        <div class="col text-center navbar-bar">
          <a routerLink="profile" class="text-light text-underline-none center">profil</a>
        </div>
        <div class="col text-center navbar-bar">
          <a [routerLink]="['/contact-us']" class="text-light text-underline-none wrap-text center">İletişim</a>
        </div>
        <div *ngIf="!isAuthenticated" class="col text-center navbar-bar">
          <a [routerLink]="['/login']" class="text-light text-underline-none wrap-text center login-button">
            <img class="image" src="../../../../assets/images/icons8_enter.ico" alt="" />
          </a>
        </div>

        <div *ngIf="isAuthenticated" class="col text-center navbar-bar">
          <a routerLink="#" class="text-light text-underline-none wrap-text center  login-button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="image" src="https://img.icons8.com/ios/100/ffffff/guest-male.png" />
          </a>
          <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
            <a routerLink="profile" class="text-light text-underline-none wrap-text container">Profile</a><br>
            <a (click)="logOut()" routerLink="#" class="text-light text-underline-none wrap-text container">LogOut</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pos-f-t wrap">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <div class="row m-0 w-100">
        <a [routerLink]="['/']" class="text-light text-underline-none">Anasayfa</a>
      </div>
      <div class="row m-0 w-100">
        <a [routerLink]="['/products']" class="text-light text-underline-none">Ürünler</a>
      </div>
      <div class="row m-0 w-100">
        <a [routerLink]="['/about-us']" class="text-light text-underline-none">Hakkımızda</a>
      </div>
      <div class="row m-0 w-100">
        <a [routerLink]="['/contact-us']" class="text-light text-underline-none wrap-text">İletişim</a>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a [routerLink]="['/']" class="text-light text-underline-none wrap-text"><img src="../../../../favicon.ico" alt=""
        width="32px" height="32px" />
      F-KA PLASTİK</a>
  </nav>
</div>