<div class="text-light w-100 page">
    <div class="">
        <div class="row m-0 menu py-3">
            <div class="col col-md-2 text-center navbar-bar">
                <a [routerLink]="['/']" class="text-light text-underline-none wrap-text"><img class="image" src="../../../../assets/images/beyazKalin2.png" alt="" /></a>
            </div>
            <div class="col col-md-9">
                <div class="row center justify-content-center inputCase">
                    <input id="input" class="input" type="text" [(ngModel)]="searchText" (ngModelChange)="getSearch()" aria-describedby="inputGroup-sizing-sm">
                    <img src="../../../../assets/images/icons8_search_1.ico">
                </div>
            </div>
            <div class="row col-md-1">
                <div *ngIf="!isAuthenticated" class="col text-end navbar-bar">
                    <a [routerLink]="['/login']" class="text-light text-underline-none wrap-text center login-button">
                        <img class="image" src="../../../../assets/images/icons8_enter.ico" alt="" />
                    </a>
                </div>
                <div *ngIf="isAuthenticated" class="col-md-2 navbar-bar">
                    <a routerLink="#" class="text-light text-underline-none wrap-text center  login-button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="image" src="https://img.icons8.com/ios/100/ffffff/guest-male.png" />
                    </a>
                    <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                        <a routerLink="profile/{{userId}}" class="text-light text-underline-none wrap-text container">Profile</a><br>
                        <a routerLink="/login" (click)="logOut()" class="text-light text-underline-none wrap-text container">LogOut</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>