<div class="text-light w-100 page">
  <div class="menu">
    <div class="row">
      <div class="row m-0 py-3 px-5 align-items-start">
        <div class="col text-center navbar-bar">
          <a [routerLink]="['/login']" class="text-light text-underline-none wrap-text"><img src="../../../../favicon.ico"
              alt="" width="32px" height="32px" />
            F-KA PLASTİK</a>
        </div>
      </div>
      <div class="row m-0 py-3 px-5 ">
        <div class="col text-center navbar-bar">
          <a [routerLink]="['/']" class="text-light text-underline-none">Anasayfa</a>
        </div>
        <div class="col text-center navbar-bar">
          <a [routerLink]="['/products']" class="text-light text-underline-none">Ürünler</a>
        </div>
        <div class="col text-center navbar-bar">
          <a [routerLink]="['/about-us']" class="text-light text-underline-none">Hakkımızda</a>
        </div>
        <div class="col text-center navbar-bar">
          <a [routerLink]="['/contact-us']" class="text-light text-underline-none wrap-text">İletişim</a>
        </div>
      </div>
    </div>
  </div>
</div>
