<div class="wrapper" style="--background: url({{ imagePath }});">
  <div class="content">
    <div class="content-image">
      <img class="image" src="{{ backdropImageUrl }}" alt="movie-thumb" />
    </div>

    <div class="text">
      <h1>{{ movie.title }}</h1>
      <h3>PLOT</h3>
      <p>{{ movie.overview }}</p>
      <div class="rating-directors">
        <div>
          <h3>RATING</h3>
          <div class="score">{{ movie.vote_average }}</div>
        </div>
        <div class="director">
          <h3>DIRECTOR{{directors.length>1 ?"S":""}}</h3>
          <p *ngFor="let director of directors">{{director.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bar-wrapper">
  <div class="bar-content">
    <div class="m-2 row w-100">
      <button class="column p-2" (click)="getModule('actor')">Actors</button>
      <button class="column p-2" (click)="getModule('reviews')">Reviews</button>
      <button class="column p-2" (click)="getModule('discussions')">
        Discussions
      </button>
    </div>
  </div>
</div>
<div *ngIf="sendModule == 'actor'">
  <div class="container">
    <div class="row ml-5">
      <div *ngFor="let actor of actors">
        <app-actor [takenActor]="actor"></app-actor>
      </div>
    </div>
  </div>
</div>
<div *ngIf="sendModule == 'reviews'">
  <app-comment></app-comment>
</div>

<div *ngIf="sendModule == 'discussions'">
  <app-actor></app-actor>
</div>