<div class="wrapper" style="--background: url({{imageUrl}});">
  <div class="content">
    <!-- <app-Thumb [image] = "imagePath" ></app-Thumb> -->
    <img src={{backdropImageUrl}} alt='movie-thumb' class="image" />

    <span class="text">
      <h1>{{movie.title}}</h1>
      <h3>PLOT</h3>
      <p>{{movie.overview}}</p>
      <p>{{movie.poster_path}}</p>
      <p>{{imagePath}}</p>

      <div className="rating-directors">
        <div>
          <h3>RATING</h3>
          <div className="score">{{movie.vote_average}}</div>
        </div>
        <div className="director">
          <h3>DIRECTOR</h3>          
            <p>Barış Arslan</p>         
        </div>
      </div>
    </span>
  </div>
</div>