.containerr {
    margin-left: 10%;
    width: 80% !important;
}

.pagination {
    position: relative;
    left: 50%;
}

.display {
    width: 32px;
    height: 32px;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}