<div class="container">
    <div class="card text-white bg-secondary mt-3">
        <div class="container">
            <div class="row">
                <img class="profile-img" src="https://ui-avatars.com/api/?size=128">
                <div class="card-info col-sm-9">
                    <div class="title">test</div>
                    <div class="userName">Mamut</div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
</div>