.review-btn{
    background-color: #2B2D42;
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 1vw;
    margin-top: 1vw;
    margin-left: calc(100% - 7vw);
    width: 135px;
    height: 37px;
}
.reviewText{
    width: 55vw;
    resize: none;
    margin: 10px;
}
.ml-9{
    margin-left: 40vw;
}
.label{
    font-weight: bold;
    margin-left: 15px;
    border-bottom: 3px solid #2B2D42;
}