<div class="container">
    <div class="card text-white bg-secondary mt-3">
        <div class="row">
            <div class="col-sm-1">
                <div class="ml-2 center">
                    <img src="../../../assets/images/icons8_up.ico">
                    <div class="number">1</div>
                    <img src="../../../assets/images/icons8_down.ico">
                </div>
            </div>
            <div class="col-sm-10">
                <div class="container">
                    <div class="row">
                        <img class="profile-img" src="https://ui-avatars.com/api/?size=128">
                        <div class="card-info col-sm-9">
                            <div class="title">testtttttttttttttttttttttttttttttttttttttttttttttttttttttttttt</div>
                            <div class="userName">Mamuttttttttttttttttttttttttttttttttttttttttttttttttttttttttt</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>