<div class="container page">
  <div class="row m-0">
    <div class="row w-100 mb-3 justify-content-start">
      <h2 class="font-weight-bolder ml-3">Adresimiz</h2>
    </div>
    <div class="row mt-3 mb-5 justify-content-between w-100">
      <div class="col-6">
        <p class="h4 font-weight-bolder">Merkez</p>
        <p>
          Köseler Mah. Kuyubaşı Sok. No:3 Mermerciler San. Sit. <br />
          Dilovası/Kocaeli
        </p>
      </div>
      <div class="col-6">
        <p class="h4 font-weight-bolder">Şube Depo</p>
        <p>
          Dersan San. Sit. Trios 2023 İş Mrk. A Blok No:74 <br />
          İkitelli/İstanbul
        </p>
      </div>
    </div>
  </div>
</div>
