<div class="page">
  <div class="about-intro-area pt-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <p class="h5 header rounded">HAKKIMIZDA</p>
        </div>
        <div class="col-lg-6">
          <div class="intri-content">
            <p class="text-2">
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;F-KA Plastik müşterilerinin
              spesifik ihtiyaçlarını, beklentilerine uygun bir şekilde
              karşılamak için kuruldu.
            </p>
            <p class="text-2">
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Biz, müşterilerimizle daha iyi
              bir geleceği yüksek kalitede projeler oluşturarak inşa etmek için
              çalışıyoruz. Hedefimiz müşterilerimizle güven odaklı ilişkiler
              kurarak onların çözüm ortağı olmaktır.
            </p>
            <p class="text-2">
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;F-KA Plastik çok kısa zamanda
              orijinal ve geri dönüşüm olmak üzere hammadde temininde, tedarik
              zincirinde büyüdü ve genişledi. Müşterilerine doğru zamanda doğru
              malzemeyi en düşük maliyetle temin etmeyi amaç edinmiş bir firma
              oldu.
            </p>
          </div>
        </div>
      </div>
      <div class="shadow rounded h5 mt-5 p-5 mb-0">
        <div class="row justify-content-center">
          <img src="../../../assets/images/lock_2.ico" alt="" />
        </div>
        <div class="row mt-3 justify-content-center">
          <p class="text-center">
            "Müşterilerimizle Olan Ticari İlişkimizde Gizlilik Önceliğimizdir."
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-intro-area pt-120 dsplybig">
    <div class="container">
      <div class="row miror">
        <div class="col-lg-6">
          <div class="intri-content">
            <p class="text-2">
              • Tüm faaliyetlerimizde mevzuatlara ve yasalara uygun davranmak.
            </p>
            <p class="text-2">
              • Çalışanlarımızın yeteneklerini, güçlerini ve yaratıcılıklarını
              geliştirerek verimliliği arttırmak.
            </p>
            <p class="text-2">
              • Sürdürülebilir bir dünya için geri dönüşüme önem vermek.
            </p>
            <p class="text-2">
              • Çalışanlarımızla, yan sanayi üreticilerimizle ve
              tedarikçilerimizle olan ilişkilerimizde adil olmak; karşılıklı
              fayda sağlamak.
            </p>
            <p class="text-2">
              • Hizmette sürekliliği sağlamak için devamlı büyümek, büyümek için
              yatırım yapmak, yatırım yapmak için kaynak yaratmak.
            </p>
            <p class="text-2">
              • Dürüstlüğe, güveniliriliğe, sosyal sorumluluklara ve gizlilik
              prensiplerine sürekli sahip çıkmak.
            </p>
            <p class="text-2">
              • Değerlerimiz doğrultusunda bilgiyi temel alan, profesyonel
              kadromuzla her projeye özgü özel koşulları büyük bir ustalıkla
              değerlendirip kaliteyi en uygun maliyetle elde etme başarısını
              göstermek.
            </p>
            <p class="text-2">
              • Sağlıklı, güvenli ve çevreye duyarlı bir çalışma kültürünü F-KA
              Plastik bünyesinde oluşturmak ve bu kültürün sürekliliğini
              sağlamak.
            </p>
            <p class="text-2">
              • Konularında iyi yetişmiş, deneyimli insan kaynağı ile çalışarak
              temin süresinde, üretimde, yapımda ve iş yönetiminde kaliteyi ön
              plana almak ve taahhüt ettiğimiz işleri ZAMANINDA ve KALİTELİ
              şekilde sağlamak.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <p class="h5 header ml-4 col-left rounded">İLKELERİMİZ</p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-intro-area pt-120 dsplysml">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <p class="h5 header rounded">İLKELERİMİZ</p>
        </div>
        <div class="col-lg-6">
          <div class="intri-content">
            <p class="text-2">
              • Tüm faaliyetlerimizde mevzuatlara ve yasalara uygun davranmak.
            </p>
            <p class="text-2">
              • Çalışanlarımızın yeteneklerini, güçlerini ve yaratıcılıklarını
              geliştirerek verimliliği arttırmak.
            </p>
            <p class="text-2">
              • Sürdürülebilir bir dünya için geri dönüşüme önem vermek.
            </p>
            <p class="text-2">
              • Çalışanlarımızla, yan sanayi üreticilerimizle ve
              tedarikçilerimizle olan ilişkilerimizde adil olmak; karşılıklı
              fayda sağlamak.
            </p>
            <p class="text-2">
              • Hizmette sürekliliği sağlamak için devamlı büyümek, büyümek için
              yatırım yapmak, yatırım yapmak için kaynak yaratmak.
            </p>
            <p class="text-2">
              • Dürüstlüğe, güveniliriliğe, sosyal sorumluluklara ve gizlilik
              prensiplerine sürekli sahip çıkmak.
            </p>
            <p class="text-2">
              • Değerlerimiz doğrultusunda bilgiyi temel alan, profesyonel
              kadromuzla her projeye özgü özel koşulları büyük bir ustalıkla
              değerlendirip kaliteyi en uygun maliyetle elde etme başarısını
              göstermek.
            </p>
            <p class="text-2">
              • Sağlıklı, güvenli ve çevreye duyarlı bir çalışma kültürünü F-KA
              Plastik bünyesinde oluşturmak ve bu kültürün sürekliliğini
              sağlamak.
            </p>
            <p class="text-2">
              • Konularında iyi yetişmiş, deneyimli insan kaynağı ile çalışarak
              temin süresinde, üretimde, yapımda ve iş yönetiminde kaliteyi ön
              plana almak ve taahhüt ettiğimiz işleri ZAMANINDA ve KALİTELİ
              şekilde sağlamak.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-intro-area pt-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <p class="h5 header rounded">KALİTE POLİTİKALARIMIZ</p>
        </div>
        <div class="col-lg-6">
          <div class="intri-content">
            <p class="text-2">
              • Sahip olduğumuz tüm kaynakları müşterilerimizin ihtiyaçları,
              beklentileri ve memnuniyetleri doğrultusunda kullanmak.
            </p>
            <p class="text-2">
              • Yönetici kadromuz, teknik ve idari personellerimiz ve bütün
              çalışanlarımızla çağın gereklerini yerine getirerek
              müşterilerimizin taleplerine uygun hammaddeleri temin etmek ve
              üretmek.
            </p>
            <p class="text-2">
              • İleri teknolojiyi, doğru çözüm ortaklarını, kaliteli malzeme
              kullanımını ve mühendislik hizmetlerini aynı potada eriterek tüm
              projelerimize uygulamak ve bunları uygularken ürünlerin teslimini
              söz verilen sürede gerçekleştirmektir.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
