<div class="row">
    <div class="col-md-3">
        <div class="discussions shadow m-1">
            <div class="p-1">
                <p>discussions title</p>
                <p class="userName">username</p>
            </div>
        </div>
        <div class="discussions shadow">
            <div class="p-1">
                <p>discussions title</p>
                <p class="userName">username</p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <app-message></app-message>
    </div>
</div>