<div class="w-100 mb-5 container-up">
    <div class="row">
        <div class="col-4">
            <img class="profile-img mt-5" src="../../../assets/images/WhatsApp Image 2021-11-19 at 10.56.32.jpeg">
        </div>
        <div class="col-8">
            <div class="row m-3 ml-5">
                <h3 class=" mt-5 ">Ahmet CETINER</h3>
                <button class="edit-btn mt-5 ml-5 shadow">Edit Profile</button>
            </div>
            <div class="container row">
                <div class="col col-6 row">
                    <div class="brdr m-1">
                        <div class="item-border ">test sdad asdasd asdasd</div>
                    </div>
                    <div class="brdr m-1">
                        <div class="item-border ">test asdasd asdasd</div>
                    </div>
                    <div class="brdr m-1">
                        <div class="item-border ">test sdad asdasd</div>
                    </div>
                    <div class="brdr m-1">
                        <div class="item-border "> sdad asdasd asdasd</div>
                    </div>
                    <div class="brdr m-1">
                        <div class="item-border ">test sdad asdasd </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
<p class="favtext mb-0">Favory List</p>
</div>
<div class="line"></div>
<div class="container-down">
    <app-gallery></app-gallery>
</div>