.profile-img{
    border-radius: 100%;
    object-fit:cover;
    object-position: center;
    width:20vw;
    height: 20vw;
    min-width: 150px;
    min-height: 150px;
}
.row{
    width: 99%;
}
.edit-btn{
    border-radius: 7px;
    width:fit-content;
    height: fit-content;
    border: none;
    padding: 7px;
}
.item-border{
    height:fit-content;
}
.brdr{
    border:3px solid #8d99ae;
    border-radius: 12px;
    width:fit-content;
    padding: 3px;
    background-color: #edf2f4;
}
.line{
    border-bottom: 5px solid #2b2d42;
}
.container-down{
    width: 80% !important;
    margin-left: 10%;
  }
  .container-up{
    width: 80% !important;
    margin-left: 10%;
}
.favtext{
    font-size: 1.9rem;
    color: #8d99ae;
    text-align: center;
    justify-content: center;
}
.category{
    width: 80%;
}
.com-7{
    width: 50vw;
}
.com-3{
    width: 25vw;
}
.items{
    width:fit-content;
    height: fit-content;
    padding: 7px;
    float:right;
}
.pop-up{
    width: 60%;
    background-color: white;
}
.round{
    border-radius: 20px !important;
}