<div class="w-100 mb-5 container-up">
    <div class="row">
        <div class="col-3 justify-content-center">
            <img class="profile-img mt-5" src={{user[0].AvatarUrl}}>
        </div>
        <div class="col-8 ml-5">
            <div class="ml-0 row justify-content-between">
                <h3 class=" mt-5 items">{{user[0].FirstName}} {{user[0].LastName}}</h3>
                <button class="edit-btn mt-5 shadow items mr-3" data-toggle="modal"
                    data-target=".bd-example-modal-lg">Edit Profile</button>
            </div>
            <div class="container mt-5">
                <div class="category row">
                    <div class="brdr m-1 items">
                        <div class="item-border ">Science Fiction</div>
                    </div>
                    <div class="brdr m-1 items">
                        <div class="item-border ">Action</div>
                    </div>
                    <div class="brdr m-1 items">
                        <div class="item-border ">Adventure</div>
                    </div>
                    <div class="brdr m-1 items">
                        <div class="item-border ">Horror</div>
                    </div>
                    <div class="brdr m-1 items">
                        <div class="item-border ">Fantasy</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bar-wrapper">
    <div class="bar-content">
        <div class=" modal-button m-2 row w-100">
            <button class="btn btn-outline-primary column p-2" (click)="getModule('Favory List')">Favory List</button>
            <button class="btn btn-outline-primary column p-2" (click)="getModule('Watch List')">Watch List</button>
            <button class="btn btn-outline-primary column p-2" (click)="getModule('Watched List')">
                Watched List
            </button>
        </div>
    </div>
</div>

<div class="mt-2">
    <div class="favtext">{{sendModule}}</div>
    <div class="line"></div>
</div>

<div *ngIf="sendModule == 'Favory List'">
    <div class="container-down">
        <app-gallery></app-gallery>
    </div>
</div>
<div *ngIf="sendModule == 'Watch List'">
    <div class="container-down">
        <app-gallery></app-gallery>
    </div>
</div>
<div *ngIf="sendModule == 'Watched List'">
    <div class="container-down">
        <app-gallery></app-gallery>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg round">
        <div class="modal-content round">
            <app-profile-edit-page></app-profile-edit-page>
        </div>
    </div>
</div>